<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postingpage</title>
</head>
<body>
    <main>
        
    
    
    <!-- navbar start -->
    <nav
    class="navbar navbar-expand-lg navbar-primary"
    style="background-color: #152e52"
  >
    <div class="container">
      <!-- <a class="navbar-brand custombrand" href="#"><img src="assets/images/testLogo.png" alt="logo" srcset=""></a> -->
      <div class=" navbar-brand logo_design">
        <a routerLink="/home">
          <img src="assets/images/logo.png" alt="logo" srcset=""  />
          <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
          ROOF AGRICULTURE COMMUNITY
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="border-color: #fff"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/agriculture">Agriculture</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/fruits">Fruits</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/flowers">Flowers</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item pe-3 signbackgroundcolorfixed">
            <a class="nav-link " routerLink="/signin"> <button type="button" class="btn btn-success  text-white fs-5">Enrollments</button> </a>
          </li>
          <!-- <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/signup"> <button type="button" class="btn btn-warning text-white fs-4">SignUp</button> </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <!-- <h1>its work!</h1> -->
    <form (ngSubmit)="onFlowerPostIn()">
      <div>
        <label for="email">Email:</label>
        <input [(ngModel)]="email" type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" required />
      </div>
      <div>
        <label for="comment">Write Post:</label>
        <input [(ngModel)]="comment" type="comment" id="comment" name="comment" required />
      </div>
      <div>
        <label for="fname">Flower Name:</label>
        <input [(ngModel)]="fname" type="fname" id="fname" name="fname" required />
      </div>
      <div>
        <label for="fage">Age of the Flower Tree:</label>
        <input [(ngModel)]="fage" type="fage" id="fage" name="fage" required />
      </div>
      <button type="submit">Submit</button>
    </form>

    </main>  

     
</body>
</html>